.bar {
  position: absolute;
  left: calc(50% - 4.3rem);
  bottom: -1.4rem;
  width: 100%;
  transform: rotateZ(-90deg) translate(50%);
  font-family: 'Montserrat', sans-serif;
}

.bar::before {
  content: 'rentabilidad';
  font-size: 1.4rem;
  font-weight: 600;
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  height: 100%;
}

.bar.black::before,
.bar.black::after {
  color: var(--black);
  font-weight: 600;
}

.span {
  font-weight: var(--semi);
  position: absolute;
  font-size: 1.4rem;
  bottom: 1rem;
  right: 3rem;
  z-index: 1;
}

.span.top {
  font-weight: var(--semi);
  position: absolute;
  font-size: 1.4rem;
  color: var(--black);
  top: 1rem;
  right: 3rem;
  z-index: 2;
}

.span.top::after {
  content: 'costos';
  font-size: 1.4rem;
  font-weight: 600;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  width: max-content;
  height: max-content;
  transform: rotateZ(-90deg);
  color: var(--white);
}

.span.top.black::after {
  color: var(--black);
}
